body, html {
	height: 100%;
}

body {
	padding-top: 50px;
}

#footer {
	background-color: #185eac;
	color: #fff;
	height: 50px;
    line-height: 50px;
}

/* nav bar */
.navbar-default {
	background-color: #185eac;
}

#navbar a, .navbar-header a {
	color: #fff!important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}


#landing {

	background-image: url(../img/landingImage.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;

	color: #fff;
	text-align: center;
	font-size: 18px;
	font-color: #fff;
	font-family: sans-serif;
}

#where {
	background-image: url(../img/ThoughtWorks.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;

	
	height: 75%;
	color: #5b5f61;
}

div#content {
    margin-left: 23%;
    margin-right: 23%;
}

#landing, #about, #sponsors {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#faq {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}



#about, #faq, #sponsors {
	background-color: #fff;
	color: #5b5f61;
	padding-left: 20%;
	padding-right: 20%;
}

#line-break {
	padding-left: 20%;
	padding-right: 20%;
}

hr {
	color: #5b5f61;
}

h1 {
	color:#175eac;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1:nth-child(odd){
	text-align: right;
}

h1:nth-child(even){
	text-align: left;
}


.faq-question::before {
	content: "Q: ";
}

.faq-question {
	color: #175eac;
}

.faq-answer::before {
	content: "A: ";
}

div#faq {
    margin-top: 4%;
    margin-bottom: 4%;
}

p {
	text-align: justify;
}

#icon {
	padding-right: 20px;
	float: left;
	clear: both;
}

.text {
	text-align: left;
	float: left;
	width: 200px;
}

span#sponsor-text {
    margin-left: 12px;
}


/*
#content {
	display: inline-block;
	vertical-align: middle;
	line-height:normal;
}
*/

